nav {
    display: flex;
    justify-content: space-between;
}
.btnContainer > * {
    margin-right: 20px;
    margin-top: 20px;
}
.logo {
    width: 40px;
    height: 40px;
    margin: 20px;
}
.link {
    color: #e6e6e6;
    text-decoration: none;
    transition: 200ms;
}
.link:hover{
    color: #FF4752;
    transition: 200ms;
}
.LeDirect {
    width: 110px;
    height: 40px;
    padding: 0;
    background-color: #FF4752;
    color: #e6e6e6;
    font-size: medium;
    border: none;
    border-radius: 20px;
    transition: 200ms;
}
.LeDirect:hover {
    background: transparent;
    border: solid 1px #FF4752;
}